.searchResults {
  background-color: rgb(20, 5, 11);
  width: 420px;
  min-height: 650px;
  border-radius: 7px;
  max-height: 650px;
  overflow-y: scroll;
  overflow-x: hidden;
  font-size: 0.9rem;
}
h2 {
  margin-left: 20px;
}
