.barTitle{
  background-color: rgb(14, 14, 14);
  display: block;
  width: 100%;
}
.App{
  height: 1000px;
  background-image: url('../../background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
h1{
  display: inline-block;
  background-color: rgb(20, 5, 11);
  width: 100%;
  margin: 0px;
  padding: 13px 0px;
  text-align: center;
}
.highlight{
  color: rgb(216, 98, 13);
}
.container {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.container div {
  margin: 0px 250px;
}