.playList {
  background-color: rgb(20, 5, 11);
  width: 400px;
  min-height: 650px;
  border-radius: 7px;
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 650px;
  font-size: 0.9rem;
}
h2 {
  margin-left: 20px;
}
.playListName {
  border-radius: 4px;
  font-size: 22px;
  border: none;
  text-align: center;
  margin: 0px 20px;
  width: 90%;
  background-color: rgba(220, 220, 220, 0);
  color: rgb(255, 255, 255);
  font-family: nunito;
}
.playListName:focus {
  border: none;
  box-shadow: none;
  outline: none;
}
.search-bar-line {
  min-height: 1px;
  background-color: white;
  margin: 5px 20px;
}
